@font-face {
    font-family: openSans;
    src: url(./app/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: openSans-light;
    src: url(./app/fonts/OpenSans-Light.ttf);
}

body {
    line-height:1.6;
    font-size:18px;
    font-family:openSans;
    color:#333;
    padding:0 10px;
}
      
h1 {
    font-size: 3.5em;
    margin:0px;
    line-height:1;
    color:#111;
}


.connect-list {
    padding:0px;
    margin:0px;
    list-style-type:none;
}

#logo {
    max-width: 30px;
}

#logodiv {
    padding:0px;
    margin: 0px;
    background-color: #ddd;
}

.connect-list i {
    font-size:2em;
    color:#333;
}

.connect-list i:hover {
    color:#111;
}

.connect-list li {
    display: inline;
    padding: 5px 5px;
    margin-right: 10px;
}

#title {
    margin-top:15%;
    margin-bottom:10%;
}

a {
    text-decoration: none;
}

a:link {
    color:#333;
}

a:visited {
    color:#555;
}

h3 a:hover {  
    font-size:1.02em;
    position:relative;
    left:1px;
}

a:active {
    font-size:.95em;
}
h2 {
    font-size:2em;
    color:#333;
}

.content {
    text-align:right;
    padding-right:30px
}

.contact {
    padding-left: 30px;
}

h4, h3 {
    font-family: openSans-light;
}

#a1:hover {
    color:#660000;
}

#a2:hover {
    color:#006600;
}

#a3:hover {
    color:#000066;
}

.nav-pills>li>a {
    background: #fff;
}

.nav-pills>li>a:hover {
    text-decoration:underline;
    background:#fff;
    }

.nav-pills>li.active>a {
    background:#fff;
    color: #000;
    text-decoration:underline;
}

.nav-pills>li.active>a:hover {
    background:#fff;
    color:#000;
}

.nav-pills>li.active>a:focus {
    background:#fff;
    color:#000;
    }
